# ── Base de Datos MS JAC (BD origen de JACs) ────────────────────
JAC_DB_HOST=localhost
JAC_DB_PORT=5432
JAC_DB_NAME=jac_cauca_db
JAC_DB_USER=postgres
JAC_DB_PASSWORD=tu_contraseña_aqui

# ── Base de Datos MS Asocomunales (BD destino - tabla espejo) ──────
ASOC_DB_HOST=localhost
ASOC_DB_PORT=5432
ASOC_DB_NAME=DBAsocomunales
ASOC_DB_USER=postgres
ASOC_DB_PASSWORD=tu_contraseña_aqui
